<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head.ejs') %>
		<title>RWH Meetup</title>
	</head>
	<body class="min-h-screen">
		<%- include('./partials/header.ejs') %>
		<main class="my-5">
			<h1 class="text-2xl text-center mb-5 font-medium">About RWH Meetup</h1>
			<p>Welcome to RWH Meetup, a place where you can attend and create RWH events to connect with people</p>
		</main>
		<%- include('./partials/footer.ejs') %>
	</body>
</html>
