<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head.ejs') %>
		<title>RWH Meetup</title>
	</head>
	<body class="min-h-screen">
		<%- include('./partials/header.ejs') %>
		<main class="my-5">
			<%- include('./partials/flash.ejs') %>
			<h1 class="text-2xl text-center mb-5 font-medium">Welcome to Real Woodward Hour Meetup</h1>
			<p>Welcome to RWH Meetup, a place where you can attend and create RWH events to connect with people</p>
			<a class="inline-block bg-[#046a37] hover:bg-green-900 text-gray-50 py-2 px-4 mt-4 rounded" href="/events"
				>Events</a
			>
		</main>
		<%- include('./partials/footer.ejs') %>
	</body>
</html>
