<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') %>
		<title>RWH Meetup</title>
	</head>
	<body class="min-h-screen">
		<%- include('../partials/header.ejs') %>
		<main class="my-5">
			<%- include('../partials/flash.ejs') %>
			<h1 class="text-3xl text-center mb-5 font-medium">Welcome Isidro</h1>
			<table class="table-auto border-collapse">
				<thead>
					<tr>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a class="hover:text-gray-500" href="/events/6556cfe0ff412dadcf9024c0">test</a></td>
						<td>
							<a class="hover:text-gray-500" href="/events/6556cfe0ff412dadcf9024c0"><i class="fa-solid fa-pen"></i></a>
							<a class="hover:text-gray-500" href="/events/6556cfe0ff412dadcf9024c0"
								><i class="fa-solid fa-trash"></i
							></a>
						</td>
					</tr>
					<tr>
						<td><a class="hover:text-gray-500" href="/events/6556cfe0ff412dadcf9024c0">test</a></td>
						<td>
							<a class="hover:text-gray-500" href="/events/6556cfe0ff412dadcf9024c0"><i class="fa-solid fa-pen"></i></a>
							<a class="hover:text-gray-500" href="/events/6556cfe0ff412dadcf9024c0"
								><i class="fa-solid fa-trash"></i
							></a>
						</td>
					</tr>
					<tr>
						<td><a class="hover:text-gray-500" href="/events/6556cfe0ff412dadcf9024c0">test</a></td>
						<td>
							<a class="hover:text-gray-500" href="/events/6556cfe0ff412dadcf9024c0"><i class="fa-solid fa-pen"></i></a>
							<a class="hover:text-gray-500" href="/events/6556cfe0ff412dadcf9024c0"
								><i class="fa-solid fa-trash"></i
							></a>
						</td>
					</tr>
					<tr>
						<td><a class="hover:text-gray-500" href="/events/6556cfe0ff412dadcf9024c0">test</a></td>
						<td>
							<a class="hover:text-gray-500" href="/events/6556cfe0ff412dadcf9024c0"><i class="fa-solid fa-pen"></i></a>
							<a class="hover:text-gray-500" href="/events/6556cfe0ff412dadcf9024c0"
								><i class="fa-solid fa-trash"></i
							></a>
						</td>
					</tr>
				</tbody>
			</table>
		</main>
		<%- include('../partials/footer.ejs') %>
	</body>
</html>
